body{
    text-align: center;
    background-image: url('./background.jpg');
    background-repeat: no-repeat; 
    background-size: 100%;
}
div{
    background-color:lightcyan;
    opacity: 0.8;
}
h1{
    color: darkblue;
}
h3{
    color: blue;
}
label{
    color: red;
    font-size: 25px;
}
span{
    color: darkorchid;
    font-size: 25px;
}